* {
    margin: 0;
    box-sizing: border-box;
}
.fix {
    clear: both;
}
section {
    height: 30px;
    background-color: rgb(238, 245, 178);
    padding-left: 5px; padding-top: 2px;
}
header {
    height: 80px;
    background-color: cornflowerblue;
    padding-left: 5px; padding-top: 2px;
}
aside, #mc {
    display: inline-block;
}
aside {
    height: 250px;
    width: 300px;
    background-color: rgb(143, 220, 240);
    padding-left: 5px; padding-top: 2px;
    float: left;
}
#mc {
    height: 250px;
    float: left;
    background-color: mediumturquoise;
    padding-left: 10px;
}#cont {
    background-color: mediumturquoise;
    width: 100%;
}

.asides {
    background-color:rgb(204, 137, 243);
    height: 100px;
    width: 100%;
}
#as1 {
    height: 100px;
    width: 300px;
    background-color: orange;
    float: left;
}
#as2 {
    height: 100px;
    width: 300px;
    background-color: palegreen;
    float: left;
}#as3 {
    height: 100px;
    float: left;
}
.asides>div {
    padding-left: 5px; padding-top: 2px;
}
footer {
    width: 100%;
    height: 80px;
    background-color: seagreen;
    float: left;
    padding-left: 5px; padding-top: 2px;
}